<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="7f77badd-bc97-4b81-8552-3fa0c6473d26" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://maps.googleapis.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="7f77badd-bc97-4b81-8552-3fa0c6473d26fileName">https%3A%2F%2Fmaps.googleapis.com</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints>
    <con:endpoint>https://maps.googleapis.com</con:endpoint>
  </con:endpoints>
</con:interface>
