<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f1d49c83-d47b-4f5d-8d69-79e49b826c0e" name="https://maps.googleapis.com TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f1d49c83-d47b-4f5d-8d69-79e49b826c0efileName">https%3A%2F%2Fmaps.googleapis.com-TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
